p {
  font-weight: bold;
  text-align: center;
}

ul li {
  font-size: 1.5em;
}

img {
  width: 15px;
  height: 18px;
}

.addTask {
  border: 1px solid blue;
  width: 400px;
  text-align: right;
  padding-right: 2em;
}

.button {
  background-color: red;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #f44336;
  color: white;
}

input[type=text] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #3CBC8D;
  color: white;
}